.video {
  box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
  height: 400px;
  max-height: 700px;
  width: 767px;
}

.row {
  margin-bottom: 20px;
}

h1 {
  color: #57acec;
  margin-top: 24px;
  text-align: center;
}
